header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    min-height: 80px;
}

body {
    position: relative;
}

.logo,
.address-area,
.contact,
.timing {
    display: flex;
    align-items: center;
    font-size: 0.8em;
}



.logo-title {
    font-weight: 600;
    font-size: 1.2em;
}

.img span,
.img i {
    font-size: 1.8rem;
    margin-right: 0.8rem;
    color: var(--clr-theme);
}


.navigation {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 99;
}

nav {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    padding: 1rem;

}

nav li a {
    display: block;
    text-transform: uppercase;
    font-weight: 500;
    color: #333;
}

nav li a:active {
    color: var(--clr-theme);
}

nav li a:hover {
    color: var(--clr-theme);
}



.hero-section {
    color: #fff;
    min-height: 350px;
    background: url(./images/hero-image.jpg);
    /* background-position: right; */
    background-size: cover;
    display: flex;
    align-items: center;
}


.hero-title {
    text-transform: uppercase;
    max-width: 40%;
    font-weight: 600;
    font-size: 1.8em;
}

.hero-content {
    max-width: 50%;
    margin-top: 0.5rem;
}

.hero-button {
    cursor: pointer;
    margin-top: 1rem;
    border-radius: 10rem;
    border: transparent;
    padding: 0.8rem 2.4rem;
    font-weight: 300;
    text-transform: uppercase;
    transition: all 250ms ease-in;
    background: #fff;
}

.hero-button:hover {
    background: #f0f0f0;
    box-shadow: 0 0 2px black;
}


.how-we-work {
    display: grid;
    place-items: center;
    min-height: 300px;
    padding: 1rem;
}

.work-method {
    padding: 1rem 0;
}


.work-main-title {
    font-size: 1em;
}

.work-subtitle {
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
}

.steps {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.work-titles,
.step {
    text-align: center;
    margin: 1rem 0;
}

.step-number {
    font-size: 3em;
    color: var(--clr-theme);
    opacity: 0.3;
}

.step-description span {
    color: var(--clr-theme);
}



.about-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.laundry-service,
.dry-cleaning-service {
    padding: 2rem;
    text-align: center;
}

.about-title {
    font-size: 1.1em;
    font-weight: 600;
    color: #333;
}


.service-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1.5rem;
}

.service-tagline {
    color: var(--clr-theme);
}

.service-title {
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
}

.service-description p {
    margin: 2rem 0;
}


.services-left-side {
    padding: 0 1rem;
}



.services-right-side {
    background: url(./images/services.jpg);
    background-size: cover;
    border-radius: 0.25rem;
    /* background-position: center; */
}




.why-choose-us {
    padding: 2rem;
}

.all-features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.wcu-titles,
.feature {
    padding: 1rem;
}

.feature {
    display: flex;
    align-items: center;
}

.feature img {
    margin-right: 1rem;
    aspect-ratio: 1;
    width: 40px;
}

.feature-title {
    font-size: 0.9em;
}

.feature-description {
    font-size: 0.8em;
    margin-top: 1rem;
}

.wcu-titles .sub-title {
    color: var(--clr-theme);
}

.wcu-titles .main-title {
    font-size: 2em;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
}




@media (width < 768px) {
    .container {
        max-width: 100%;
    }

    .header-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 1rem 0;
    }

    .logo,
    .address-area,
    .contact,
    .timing {
        font-size: 1em;
        margin-bottom: 1rem;
    }

    nav {
        flex-wrap: wrap;
    }

    .hero-title,
    .hero-content {
        max-width: 100%;
        text-align: center;
    }

    .hero-button {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }


    .steps {
        grid-template-columns: 1fr;
    }
}